<h1>Generated Content</h1>
<div>
	<a href="/simple">Back to the generator</a>
</div>
<div>
	<textarea style="width:500px; height:400px; text-align:right !important; direction:rtl"><%= @new_content %></textarea>
</div>