<h1>Generate</h1>
<form id="lipsum_generator" action="/generate">
	<fieldset>
		<legend>Generate a Hebrew Lorem ipsum</legend>
		<div class="control-group">
			<input id="table_name" name="table_name" placeholder="Table name" />
		</div>
		<div class="control-group">
			<input id="column_name" name="column_name" placeholder="Column name" />
		</div>
		<div class="control-group">
			<input id="num_rows" name="num_rows" placeholder="Number of rows" />
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Generate!</button>
		</div>
	</fieldset>
		
</form>