<h2>Generate Lorem impsum Hebrew paragraphs</h2>
<form id="lipsum_generator" action="/generate_simple" method="post" class="form-vertical">
	<fieldset>
		<legend>Generate a Hebrew Lorem ipsum</legend>
		<div class="control-group">
			<input id="num_paragraphs" name="num_paragraphs" placeholder="Number of paragraphs" />
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Generate!</button>
			<a href="/">Go with the complex sql inserts generator</a>
		</div>
	</fieldset>
</form>
